body {
  margin: 30px;
}

.home__center {
  text-align: center;
}

.home__center>h2 {
  font-size: 1.5em;
}

.title {
  text-align: center;
  height: 3em;
  margin-top: 2em;
}

.context {
  text-align: center;
  font-size: larger;
  font-weight: 800;
}

.plots {
  margin-top: 52px;
}

.plots__collapsing {
  position: relative;
  height: 0;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: 0.35s;
  -moz-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-property: margin-top;
  -moz-transition-property: margin-top;
  -o-transition-property: margin-top;
  transition-property: margin-top;
}

.plots__open {
  margin-top: 237px;
}

.filters {
  margin-top: 0;
  margin-left: 0;
  position: fixed;
  width: 67%;
  z-index: 1002;
}

.filters__title {
  text-align: center;
  font-size: larger;
  font-weight: 700;
}

.filters__count {
  text-align: center;
  font-weight: 700;
}

.filter__name {
  text-align: center;
}

.form-control {
  padding: 6px;
}

.input__min {
  padding-right: 2px;
}

.input__max {
  padding-left: 2px;
}

.checkbox {
  margin: 0;
}

hr {
  border-top: 1px solid #aaa;
  margin: 0.25em 0;
}

.nav-tabs.nav-stacked {
  border-bottom: none;
  border-right: 1px solid #aaa;
  padding-top: 2px;
}

.nav-tabs.nav-stacked>li {
  margin-bottom: 2px;
  margin-right: -1px;
}

.nav-tabs.nav-stacked>li.active>a,
.nav-tabs.nav-stacked>li.active>a:hover,
.nav-tabs.nav-stacked>li.active>a:focus {
  border-color: #aaa;
  border-right-color: transparent;
}

.nav-tabs.nav-stacked>li>a {
  border-radius: 4px 0 0 4px;
  margin-right: 0;
  display:block;
}
